.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 160px;
  width: 300px;
  /* color: #4ad1d1db; */
}

.featuresUp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.featuresTitle {
  font-size: 1.25rem; 
  font-weight: 800;
}

.alignButtons {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-evenly;
}

@media screen and (min-width: 996px) {
  .featuresDescription {
    height: 6.5rem;
  }
}