.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(185, 179, 179, 0.193);
    padding: 2rem 0;
}

.pageNumber {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.buttons {
    display: flex;
    justify-content: space-around;
    max-width: 40rem;
    min-width: 20rem;
}